In [2]:
from datasets import load_dataset

dataset = load_dataset("abhinavsarkar/delhi_air_quality_feature_store_processed.csv")

print(dataset)

c:\Playground\Projects\pollution\env\Lib\site-packages\huggingface_hub\file_download.py:130: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\sudhi\.cache\huggingface\hub\datasets--abhinavsarkar--delhi_air_quality_feature_store_processed.csv. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|██████████| 2921413/2921413 [00:05<00:00, 492020.16 examples/s]

DatasetDict({
    train: Dataset({
        features: ['location_id', 'city', 'event_timestamp', 'temperature', 'humidity', 'pressure', 'wind_speed', 'wind_direction', 'pm25', 'pm10', 'no2', 'so2', 'o3', 'co', 'aqi'],
        num_rows: 2921413
    })
})

In [ ]:
dataset["train"].to_parquet("delhi_pollution_hourly.parquet")

Creating parquet from Arrow format: 100%|██████████| 6/6 [00:01<00:00,  3.29ba/s]

In [3]:
import pandas as pd
df = pd.read_parquet("data/delhi_pollution_hourly.parquet")

In [8]:
df.head()

,location_id,city,event_timestamp,temperature,humidity,pressure,wind_speed,wind_direction,pm25,pm10,no2,so2,o3,co,aqi
0,"Delhi Institute of Tool Engineering, Wazirpur,...",Wazirpur,2000-03-15 13:44:28.651396,30.450,74.100,990.425,0.300,21.7,252.0,332.0,62.4,4.8,22.4,35.7,332.0
1,"Satyawati College, Delhi, Delhi, India",Delhi,2000-03-15 13:44:28.651396,26.675,74.350,980.650,1.375,55.3,256.0,234.0,59.2,11.9,2.1,33.8,256.0
2,"ITI Shahdra, Jhilmil Industrial Area, Delhi, D...",Jhilmil,2000-03-15 13:44:28.651396,28.775,62.925,984.350,0.300,221.3,265.0,210.0,48.3,5.1,8.2,35.1,265.0
3,"Sonia Vihar Water Treatment Plant DJB, Delhi, ...",Sonia Vihar,2000-03-15 13:44:28.651396,26.575,78.525,991.300,0.300,313.6,251.0,177.0,16.5,1.8,1.7,24.9,251.0
4,"PGDAV College, Sriniwaspuri, Delhi, Delhi, India",Sriniwaspuri,2000-03-15 13:44:28.651396,22.300,71.425,985.650,0.300,347.1,282.0,347.0,43.1,5.2,3.4,29.9,347.0

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 2921413 entries, 0 to 2921412
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   location_id      str
 1   city             str
 2   event_timestamp  str
 3   temperature      float64
 4   humidity         float64
 5   pressure         float64
 6   wind_speed       float64
 7   wind_direction   float64
 8   pm25             float64
 9   pm10             float64
 10  no2              float64
 11  so2              float64
 12  o3               float64
 13  co               float64
 14  aqi              float64
dtypes: float64(12), str(3)
memory usage: 561.2 MB

In [10]:
df.isnull().sum()

location_id        0
city               0
event_timestamp    0
temperature        0
humidity           0
pressure           0
wind_speed         0
wind_direction     0
pm25               0
pm10               0
no2                0
so2                0
o3                 0
co                 0
aqi                0
dtype: int64

In [11]:
df.describe()

,temperature,humidity,pressure,wind_speed,wind_direction,pm25,pm10,no2,so2,o3,co,aqi
count,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06,2.921413e+06
mean,2.967448e+01,5.972461e+01,9.839373e+02,5.755100e-01,1.662748e+02,2.428436e+02,2.525172e+02,2.742289e+01,6.990574e+00,2.870380e+01,1.887028e+01,2.846162e+02
std,3.519299e+00,1.742223e+01,6.239824e+00,4.821382e-01,1.020129e+02,6.004317e+01,1.442264e+02,1.745550e+01,3.724060e+00,3.025712e+01,1.545748e+01,1.280330e+02
min,2.050000e+01,3.830000e+01,9.647500e+02,1.000000e-01,2.000000e-01,1.700000e+02,1.090000e+02,3.700000e+00,2.000000e-01,5.000000e-01,1.000000e-01,1.430000e+02
25%,2.710000e+01,4.400000e+01,9.805000e+02,3.000000e-01,6.330000e+01,1.950000e+02,1.610000e+02,1.510000e+01,3.800000e+00,4.400000e+00,8.200000e+00,2.000000e+02
50%,3.007500e+01,5.260000e+01,9.846850e+02,3.000000e-01,1.713080e+02,2.270000e+02,1.900000e+02,2.540000e+01,7.500000e+00,1.780000e+01,1.380000e+01,2.430000e+02
75%,3.269100e+01,7.602500e+01,9.878000e+02,6.750000e-01,2.450000e+02,2.740000e+02,3.240000e+02,3.470000e+01,9.500000e+00,3.530000e+01,2.840000e+01,3.250000e+02
max,3.575000e+01,9.400000e+01,9.964000e+02,3.300000e+00,3.554000e+02,4.670000e+02,9.300000e+02,9.080000e+01,2.020000e+01,1.178000e+02,6.930000e+01,9.300000e+02

In [43]:
df = pd.read_parquet("data/delhi_pollution_hourly.parquet")

In [28]:
df["event_timestamp"] = pd.to_datetime(df["event_timestamp"])

print("Min date:", df["event_timestamp"].min())
print("Max date:", df["event_timestamp"].max())
print("Total rows:", len(df))

Min date: 2000-03-15 13:44:28.651396
Max date: 2024-11-05 13:44:28.651396
Total rows: 2921413

In [29]:
print(df["city"].unique())

<ArrowStringArray>
[                          'Wazirpur',                              'Delhi',
                            'Jhilmil',                        'Sonia Vihar',
                       'Sriniwaspuri',                               'Pusa',
                         'R.K. Puram', 'Major Dhyan Chand National Stadium',
                        'Mandir Marg',                         'Parparganj',
           'Jawaharlal Nehru Stadium',                          'Siri Fort',
                       'Jahangirpuri',                        'Anand Vihar']
Length: 14, dtype: str

In [30]:
print(df["location_id"].nunique())
print(df["location_id"].unique()[:10])

14
<ArrowStringArray>
['Delhi Institute of Tool Engineering, Wazirpur, Delhi, Delhi, India',
                             'Satyawati College, Delhi, Delhi, India',
          'ITI Shahdra, Jhilmil Industrial Area, Delhi, Delhi, India',
         'Sonia Vihar Water Treatment Plant DJB, Delhi, Delhi, India',
                   'PGDAV College, Sriniwaspuri, Delhi, Delhi, India',
                                          'Pusa, Delhi, Delhi, India',
                                    'R.K. Puram, Delhi, Delhi, India',
            'Major Dhyan Chand National Stadium, Delhi, Delhi, India',
                                   'Mandir Marg, Delhi, Delhi, India',
                'Mother Dairy Plant, Parparganj, Delhi, Delhi, India']
Length: 10, dtype: str

In [48]:
df = pd.read_parquet("data/delhi_pollution_hourly.parquet")

In [49]:
df["event_timestamp"] = pd.to_datetime(df["event_timestamp"], errors="coerce")
df = df.dropna(subset=["event_timestamp"])

print("After datetime conversion:", df.shape)

After datetime conversion: (2921413, 15)

In [50]:
df = df[df["city"].str.contains("Delhi", case=False, na=False)]

print("After Delhi filter:", df.shape)

After Delhi filter: (158566, 15)

In [51]:
print("Delhi min date:", df["event_timestamp"].min())
print("Delhi max date:", df["event_timestamp"].max())

Delhi min date: 2000-03-15 13:44:28.651396
Delhi max date: 2018-05-08 17:44:28.651396

In [52]:
df.to_parquet("data/delhi_2000_2018.parquet", index=False)

In [1]:
from datasets import load_dataset
import pandas as pd

c:\Playground\Projects\pollution\env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
dataset = load_dataset("abhinavsarkar/delhi_air_quality_feature_store_processed.csv")
df = dataset["train"].to_pandas()

In [3]:
# Convert timestamp and sort chronologically
df["event_timestamp"] = pd.to_datetime(df["event_timestamp"])
df = df.sort_values("event_timestamp").reset_index(drop=True)

In [6]:
# Take the latest 5000 rows
df_latest = df.tail(5000).reset_index(drop=True)
print(f"Shape: {df_latest.shape}")
print(f"Date range: {df_latest['event_timestamp'].min()} to {df_latest['event_timestamp'].max()}")
print(f"Stations: {df_latest['city'].nunique()}")

Shape: (5000, 15)
Date range: 2024-10-20 13:44:28.651396 to 2024-11-05 13:44:28.651396
Stations: 13

In [7]:
# Save to data folder
df_latest.to_csv("data/latest_5000_rows.csv", index=False)
df_latest.to_parquet("data/latest_5000_rows.parquet", index=False)
print("Saved to data/latest_5000_rows.csv and data/latest_500_rows.parquet")

Saved to data/latest_5000_rows.csv and data/latest_500_rows.parquet